<?xml version="1.0" encoding="UTF-8"?>
<VRage.Core>
  
  <!-- PluginLoader -->
  <System Path="MEPluginLoader.Main" Assembly="MEPluginLoader"/> 

  <!-- Transitional system for loading the game. -->
  <System Path="Medieval.MyMedievalCompatibilitySystem" Assembly="MedievalEngineers"/>
  
  <!-- Error Reporting -->
  <System Path="VRage.Systems.MyErrorReporterSystem" Assembly="VRage.Game" UploadUri="https://crashlogs.keenswh.com/api/Report" UploadUriOld="http://www.minerwars.com/SubmitLog.aspx?id=">
    <Logger>Default</Logger>
    <LogFile>$(USER_DATA)/VRageRender-DirectX11.log</LogFile>
  </System>

  <!-- Common Components -->
  <Include>MedievalBase.config</Include>

  <!-- Steam Service -->
  <System Path="VRage.Steam.MySteamService" Assembly="VRage.Steam" AppId="333950"/>

  <!-- Renderer. -->
  <System Path="VRage.Render11.RenderProxy.Render11System" Assembly="VRage.Render11">
    <Merging>Hybrid</Merging>
    <MIIndexThreshold>360</MIIndexThreshold>
    <MergeInstancingThreshold>4</MergeInstancingThreshold>
    <DrawMergeInstanced>true</DrawMergeInstanced>
    <UseGeometryArrayTextures>true</UseGeometryArrayTextures>
    <PremultipliedGuiTextures>false</PremultipliedGuiTextures>
    <HighlightIgnoreDepth>false</HighlightIgnoreDepth>
  </System>

  <!-- Discord -->
  <System Path="Medieval.EngineSystems.Discord.MyDiscordController" Assembly="MedievalEngineers.Game" AppId="378488454754861057"/>
</VRage.Core>
