<?xml version="1.0" encoding="UTF-8"?>
<!--

Medieval Engineers Core Engine Config.

Contains all essential systems required for both the dedicated server and main game.

-->
<VRage.Core>
  <!-- Assemblies to be scanned for metadata -->
  <Reference>VRage</Reference>
  <Reference>VRage.Game</Reference>
  <Reference>Sandbox.Graphics</Reference>
  <Reference>Sandbox.Game</Reference>
  <Reference>MedievalEngineers.ObjectBuilders</Reference>
  <Reference>MedievalEngineers.Game</Reference>

  <!-- Update System. -->
  <System Path="Sandbox.Engine.Platform.MySandboxUpdate" />

  <!-- Engine Bootstrapper-->
  <Bootstrapper Path="VRage.Systems.MyEngineBootstrapper">
    <ModdablePathBlackList>
      <Path>Shaders</Path>
    </ModdablePathBlackList>
  </Bootstrapper>

  <!-- VRage.Scripting configuration file. -->
  <Include>scripting.config</Include>

  <System Path="VRage.Systems.WorkerSystem" />

  <System Path="VRage.Physics.MyHavokPhysics" />

  <System Path="VRage.GameServices.MyGameService"/>

  <!-- Transitional game class. -->
  <System Path="Medieval.MyMedievalGame" />
</VRage.Core>