<?xml version="1.0" encoding="UTF-8"?>
<VRage.Core>

  <!-- Script Compiler Configuration -->
  <System Path="VRage.Scripting.MyScriptCompilerSystem" Assembly="VRage.Scripting">
    <ReferencedAssemblies>
      <Reference>Sandbox.Game.dll</Reference>
      <Reference>Sandbox.Graphics.dll</Reference>
      <Reference>VRage.dll</Reference>
      <Reference>VRage.Library.dll</Reference>
      <Reference>VRage.Math.dll</Reference>
      <Reference>VRage.Game.dll</Reference>
      <Reference>VRage.Render.dll</Reference>
      <Reference>VRage.Input.dll</Reference>
      <Reference>MedievalEngineers.ObjectBuilders.dll</Reference>
      <Reference>MedievalEngineers.Game.dll</Reference>
    </ReferencedAssemblies>

    <!-- Compile mods in debug mode instead of release mode, with debugging symbols -->
    <DebugMode>false</DebugMode>

    <Whitelist>
      <AllowTypeNamespace Path="System.Collections.Generic.ListExtensions" />
      <AllowTypeNamespace Recursive="true" Path="VRageMath.Vector3" />
  
      <AllowType Path="System.AccessViolationException" />
      <AllowType Path="System.AggregateException" />
      <AllowType Path="System.ArgumentException" />
      <AllowType Path="System.ArgumentNullException" />
      <AllowType Path="System.ArgumentOutOfRangeException" />
      <AllowType Path="System.ArithmeticException" />
      <AllowType Path="System.ArrayTypeMismatchException" />
      <AllowType Path="System.DivideByZeroException" />
      <AllowType Path="System.FormatException" />
      <AllowType Path="System.IndexOutOfRangeException" />
      <AllowType Path="System.InvalidCastException" />
      <AllowType Path="System.InvalidOperationException" />
      <AllowType Path="System.InvalidTimeZoneException" />
      <AllowType Path="System.NotFiniteNumberException" />
      <AllowType Path="System.NotImplementedException" />
      <AllowType Path="System.NotSupportedException" />
      <AllowType Path="System.NullReferenceException" />
      <AllowType Path="System.ObjectDisposedException" />
      <AllowType Path="System.OperationCanceledException" />
      <AllowType Path="System.OutOfMemoryException" />
      <AllowType Path="System.OverflowException" />
      <AllowType Path="System.TimeoutException" />
      <AllowType Path="System.TypeInitializationException" />
      <AllowType Path="System.ObsoleteAttribute" />
      <AllowType Path="System.Diagnostics.Contracts.PureAttribute" />
      <AllowType Path="System.IO.SeekOrigin" />
      <AllowType Path="System.StreamExtensions" />

      <AllowTypeNamespace Path="Medieval.Constants.MyCharacterConstants" />
      <AllowTypeNamespace Recursive="true" Path="Medieval.GameSystems.MyFarmingSystem" />
      <AllowTypeNamespace Path="Sandbox.Game.AI.Pathfinding.MyRDPathfinding" />
      <AllowTypeNamespace Recursive="true" Path="Sandbox.Game.GameSystems.MyDamageSystem" />
      <AllowTypeNamespace Recursive="true" Path="Sandbox.Game.WorldEnvironment.MyEnvironmentSector" />
      <AllowTypeNamespace Path="VRage.Generics.MyObjectsPoolSimple`1" />
      <AllowTypeNamespace Path="VRage.Game.Input.MyInputContext" />
      <AllowTypeNamespace Path="VRage.Game.MyDefinitionId" />
      <AllowTypeNamespace Path="VRage.Library.Utils.MyGameTimer" />
      <AllowTypeNamespace Path="VRage.MyFixedPoint" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Network.IMyEventProxy" />
      <AllowTypeNamespace Path="VRage.Scene.MyScene" />
      <AllowTypeNamespace Path="VRage.Utils.MyEventArgs" />
      <AllowTypeNamespace Path="VRage.Voxels.MyStorageData" />

      <AllowTypeNamespace Recursive="true" Path="VRage.Collections.ListReader`1" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Library.Collections.BitStream" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Groups.MyGroups`2" />

      <AllowTypeNamespace Recursive="true" Path="VRage.ModAPI.IMyEntities" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Game.ModAPI.IMyUtilities" />
      <AllowTypeNamespace Recursive="true" Path="Sandbox.ModAPI.MyAPIUtilities" />
      <AllowTypeNamespace Path="Sandbox.Game.Players.MyPlayer" />
      <AllowTypeNamespace Path="VRage.Factory.MyObjectFactory`2" />
      <AllowType Path="VRage.Game.Common.MyFactoryTagAttribute" />

      <!-- Definitions: Start -->
      <AllowTypeNamespace Recursive="true" Path="Medieval.Definitions.MyCuttingDefinition" />
      <AllowTypeNamespace Recursive="true" Path="Sandbox.Definitions.MyDefinitionManagerSandbox" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Definitions.MyVoxelMaterialDefinition" />
      <AllowType Path="VRage.Game.Components.Session.MySessionComponentDefinition" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Game.Definitions.MyDefinitionTypeAttribute" />
      <!-- Definitions: End -->

      <!-- Entities: Start -->
      <AllowTypeNamespace Recursive="true" Path="Medieval.Entities.Components.MyClaimBlockComponent" />
      <AllowTypeNamespace Recursive="true" Path="Medieval.Inventory.MyInventoryCraftingExtensions" />
      <AllowTypeNamespace Recursive="true" Path="Medieval.MechanicalPower.MyMechanicalComponentBase" />
      <AllowTypeNamespace Recursive="true" Path="Sandbox.Game.Components.MyUseObjectsComponent" />
      <AllowTypeNamespace Recursive="true" Path="Sandbox.Game.Entities.MyEntities" />
      <AllowTypeNamespace Recursive="true" Path="Sandbox.Game.EntityComponents.MyEntityFXComponent" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Components.MyMultiComponent" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Entities.Components.MyVoxelDataComponent" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Entities.Gravity.MyGravityProviderSystem" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Entity.Block.MyBlock" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Entity.EntityComponents.MyBlockModelComponent" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Game.Components.MyAnimationControllerComponent" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Game.Entity.MyEntity" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Inventory.IMyItemActivateHandler" />
      <AllowTypeNamespace Recursive="true" Path="Sandbox.Game.Inventory.MyHandItem" />
      <!-- Entities: End -->
      
      <!-- GUI: Start -->
      <AllowType Path="Sandbox.Game.GUI.GuiSandbox.MyScreenManagement" />
      <AllowTypeNamespace Path="Sandbox.Game.GUI.Controls.MyDecoratedPanel" />
      <AllowTypeNamespace Path="Sandbox.Game.Gui.MyHud" />
      <AllowTypeNamespace Path="Sandbox.Game.GUI.MyMessageBox" />
      <AllowTypeNamespace Path="Sandbox.Game.GUI.Dialogs.MyTextInputDialog" />
      <AllowTypeNamespace Path="Sandbox.Game.GUI.ItemRenderers.MyInventoryItemRenderer" />
      <AllowTypeNamespace Path="Sandbox.Graphics.MyGuiManager" />
      <AllowTypeNamespace Path="Sandbox.Graphics.GUI.MyGuiControlBase" />
      <AllowTypeNamespace Path="Sandbox.Gui.Controls.MyListbox" />
      <AllowTypeNamespace Path="Sandbox.Gui.Layouts.MyScrollablePanel" />
      <AllowTypeNamespace Path="Sandbox.Gui.RichTextLabel.MyRichLabel" />
      <AllowTypeNamespace Path="Sandbox.Gui.Skins.MyGuiSkinManager" />
      <AllowTypeNamespace Path="Sandbox.Gui.Styles.MyStyleBase" />
      <AllowTypeNamespace Path="Sandbox.Gui.TreeView.MyTreeView" />
      <AllowTypeNamespace Path="Sandbox.Gui.Utility.MyGridItemRendererBase" />
      <AllowTypeNamespace Path="Medieval.GUI.Controls.MyGuiControlMovablePanel" />
      <AllowTypeNamespace Path="Medieval.GUI.Ingame.Common.MyBookScreen" />
      <AllowTypeNamespace Path="Medieval.GUI.ContextMenu.MyContextMenuScreen" />
      <AllowTypeNamespace Path="Medieval.GUI.ContextMenu.Actions.MyRespawnAction" />
      <AllowTypeNamespace Path="Medieval.GUI.ContextMenu.Attributes.MyContextMenuActionTypeAttribute" />
      <AllowTypeNamespace Path="Medieval.GUI.ContextMenu.Conditions.MyButtonEnabledCondition" />
      <AllowTypeNamespace Path="Medieval.GUI.ContextMenu.Contexts.MyAccessPermissionInteractionContext" />
      <AllowTypeNamespace Path="Medieval.GUI.ContextMenu.Controllers.IMyCommitableController" />
      <AllowTypeNamespace Path="Medieval.GUI.ContextMenu.DataSources.MyColorDataSource" />
      <AllowTypeNamespace Path="Medieval.GUI.ContextMenu.Helpers.MyContextMenuButtonsHelper" />
      <AllowTypeNamespace Path="VRage.GUI.Crosshair.MyCrosshairIconInfo" />
      <!-- GUI: End -->

      <!-- Physics: Start -->
      <AllowType Target="ModApi" Path="Sandbox.Engine.Physics.MyPhysicsHelper" />
      <AllowType Target="ModApi" Path="VRage.Physics.MyHavokConstraint" />
      <AllowType Target="ModApi" Path="VRage.Physics.MyHavokConstraint`1" />
      <AllowType Target="ModApi" Path="VRage.Physics.CollisionLayers" />
      <!-- Physics: End -->

      <!-- Object Builders: Start -->
      <AllowTypeNamespace Recursive="true" Path="Medieval.ObjectBuilders.MyObjectBuilder_MedievalSessionSettings" />
      <AllowTypeNamespace Recursive="true" Path="ObjectBuilders.MyObjectBuilder_ProceduralHeightProvider" />
      <AllowTypeNamespace Recursive="true" Path="VRage.ObjectBuilders.MyObjectBuilder_Base" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Game.ObjectBuilders.MyObjectBuilder_SectorWeatherComponent" />
      <AllowTypeNamespace Recursive="true" Path="VRage.ObjectBuilder.MyObjectBuilderType" />
      <!-- Object Builders: End -->

      <!-- Session: Start -->
      <AllowTypeNamespace Recursive="true" Path="VRage.Game.SessionComponents.MyDebugFloatingTexts" />
      <AllowTypeNamespace Recursive="true" Path="VRage.Session.MySession" />
      <AllowTypeNamespace Recursive="true" Path="Sandbox.Game.SessionComponents.MySectorWeatherComponent" />
      <!-- Session: End -->

      <AllowType Path="VRage.Serialization.NullableAttribute" />
      <AllowType Path="VRage.Serialization.Xml.MyXmlSerializableAttribute" />
      <AllowType Path="VRage.Core.IMyObject" />
      <AllowType Path="VRage.Core.MyObjectAttribute" />

      <!-- Logging: Start -->
      <AllowType Path="VRage.Logging.FilterLogger" />
      <AllowType Path="VRage.Logging.ILogger" />
      <AllowType Path="VRage.Logging.ILogFilter" />
      <AllowType Path="VRage.Logging.LogWriter" />
      <AllowType Path="VRage.Logging.LogSeverity" />
      <AllowType Path="VRage.Logging.NamedLogger" />
      <AllowType Path="VRage.Logging.ContextualLogger" />
      <!-- Logging: End -->

      <!-- Parallel: Start -->
      <AllowType Path="VRage.ParallelWorkers.IWork" />
      <AllowType Path="VRage.ParallelWorkers.WorkHandle" />
      <AllowType Path="VRage.ParallelWorkers.ICompletion" />
      <AllowType Path="VRage.ParallelWorkers.WorkId" />
      <AllowType Path="VRage.ParallelWorkers.WorkerGroupId" />
      <!-- Parallel: End -->

      <AllowType Path="Medieval.Entities.UseObject.MyUseObjectGeneric" />
      <AllowType Path="Medieval.Entities.UseObject.IMyGenericUseObjectInterface" />
      <AllowType Path="ProtoBuf.ProtoContractAttribute" />
      <AllowType Path="ProtoBuf.ProtoMemberAttribute" />
      <AllowType Path="Sandbox.Game.MyInventory" />
      <AllowType Path="Sandbox.Game.MyInventoryTransferEventContent" />
      <AllowType Path="Sandbox.Game.Entities.Character.MyDetectedEntityProperties" />
      <AllowType Path="System.Xml.Serialization.XmlSerializerAssemblyAttribute" />
      <AllowType Path="VRage.Input.Devices.Joystick.MyJoystickAxes" />
      <AllowType Path="VRage.Input.Devices.Joystick.MyJoystickButtons" />
      <AllowType Path="VRage.Input.Devices.Keyboard.MyKeys" />
      <AllowType Path="VRage.Input.Devices.Mouse.MyMouseButtons" />
      <AllowType Path="VRage.Input.IMyInput" />
      <AllowType Path="VRage.Input.Input.MyShortcut" />
      <AllowType Path="VRage.Input.Input.MyInputSource" />
      <AllowType Path="VRage.Input.Input.MyInputState" />
      <AllowType Path="VRage.Input.Input.MyInputStateFlags" />
      <AllowType Path="VRage.Input.MyInputExtensions" />
      <AllowType Path="VRage.Serialization.SerializableDictionary`2" />
      <AllowType Path="VRage.Systems.MyUpdateComponent" />
      <AllowType Path="VRage.Library.Threading.FastResourceLock" />
      <AllowType Path="VRage.Library.Threading.FastResourceLockExtensions" />
      <AllowType Path="VRage.Library.Threading.IResourceLock" />
      <AllowType Path="VRage.Library.Threading.SpinLock" />
      <AllowType Path="VRage.Library.Threading.SpinLockRef" />
      
      <!-- Render: Start -->
      <AllowTypeNamespace Path="Sandbox.Game.Lights.MyLight" />
      <AllowTypeNamespace Path="VRage.Game.Models.MyModel" />
      <AllowTypeNamespace Path="VRageRender.Models.MyMesh" />
      <AllowTypeNamespace Path="VRage.Models.IMyModel" />
      <AllowType Path="VRageRender.Import.MyModelDummy" />
      <AllowType Path="VRageRender.Import.MyModelBone" />
      <AllowType Path="VRageRender.Import.MyModelInfo" />
      <AllowType Path="VRageRender.Import.MyLODDescriptor" />
      <AllowType Path="VRageRender.Import.MyFacingEnum" />
      <AllowType Path="VRageRender.Import.MyImporterConstants" />
      <AllowType Path="VRageRender.Import.MyMeshDrawTechnique" />
      <AllowType Path="VRageRender.Import.MyMeshDrawTechniqueOld" />
      <AllowType Path="VRageRender.Import.MyMeshPartInfo" />
      <AllowType Path="VRageRender.Import.MyMeshSectionInfo" />
      <AllowType Path="VRageRender.Import.MyMeshSectionMeshInfo" />
      <AllowType Path="VRageRender.Import.MyMaterialDescriptor" />
      <AllowType Path="VRage.Import.VF_Packer" />
      <AllowType Path="VRage.Import.PositionPacker" />
      <AllowTypeNamespace Recursive="true" Path="VRageRender.Animations.ModelAnimations" />

      <AllowType Path="VRageRender.MyRenderProxy" />
      <AllowType Path="VRageRender.Messages.MyRenderMessageType" />
      <AllowType Path="VRageRender.Messages.MyRenderMessageEnum" />
      <AllowType Path="VRageRender.MyBillboard" />
      <AllowType Path="VRageRender.MyViewport" />
      <AllowType Path="VRageRender.MyBillboardViewProjection" />
      <AllowType Path="VRageRender.SpriteEffects" />
      <AllowType Path="VRageRender.Messages.SpriteBatchMode" />
      <AllowType Path="VRageRender.Messages.MyGeneratedTextureType" />
      <AllowType Path="VRageRender.RenderFlags" />
      <AllowType Path="VRageRender.CullingOptions" />
      <AllowType Path="VRageRender.Messages.MyRenderMessageSetRenderEntityData" />
      <AllowType Path="VRageRender.Messages.MyModelData" />
      <AllowType Path="VRageRender.Messages.MyRuntimeSectionInfo" />
      <AllowType Path="VRageRender.Messages.MyRenderMessageAddRuntimeModel" />
      <AllowType Path="VRageRender.Messages.MyRenderInstanceBufferType" />
      <AllowType Path="VRage.MyInstanceData" />
      <AllowType Path="VRageRender.Messages.LineObjectUvLayout" />
      <AllowType Path="VRageRender.MyRenderQualityEnum" />
      <AllowType Path="VRageRender.Voxels.MyRenderVoxelMaterialData" />
      <AllowType Path="VRageRender.Voxels.MyRenderFoliageData" />
      <AllowType Path="VRageRender.Voxels.MyFoliageType" />
      <AllowType Path="VRage.Render.MyAlphaTransitionDirection" />
      <AllowType Path="VRageRender.Messages.MyTextureType" />
      <AllowType Path="VRageRender.Messages.MyTextureChange" />
      <AllowType Path="VRageRender.Messages.UpdateRenderLightData" />
      <AllowType Path="VRageRender.Messages.MyLightLayout" />
      <AllowType Path="VRageRender.Messages.MySpotLightLayout" />
      <AllowType Path="VRageRender.Messages.MyFlareDesc" />
      <AllowType Path="VRageRender.Messages.SubGlareType" />
      <AllowType Path="VRageRender.Messages.MySubGlare" />
      <AllowType Path="VRageRender.MyEnvironmentData" />
      <AllowType Path="VRageRender.MyEnvironmentProbeData" />
      <AllowType Path="VRageRender.MyEnvironmentLightData" />
      <AllowType Path="VRageRender.Messages.MyRenderFogSettings" />
      <AllowType Path="VRageRender.Messages.MyAtmosphereSettings" />
      <AllowType Path="VRageRender.Messages.MySkeletonBoneDescription" />
      <AllowType Path="VRageRender.Messages.MyBoneDecalUpdate" />
      <AllowType Path="VRageRender.Messages.MyRenderMessageDebugDrawLine3DBatch" />
      <AllowType Path="VRageRender.IMyDebugDrawBatchAabb" />
      <AllowType Path="VRageRender.Messages.MyRenderMessageDebugDrawTriangles" />
      <AllowType Path="VRageRender.IDrawTrianglesMessage" />
      <AllowType Path="VRageRender.DrawTrianglesMessageExtensions" />
      <AllowType Path="VRageRender.Messages.MyDecalTopoData" />
      <AllowType Path="VRageRender.Messages.MyDecalPositionUpdate" />
      <AllowType Path="VRageRender.MyDecalFlags" />

      <AllowType Path="VRageRender.Messages.MyFormatPositionColor" />
      <AllowType Path="VRageRender.Messages.MyVertexFormatPositionColorListExtensions" />
      <!-- Render: End -->

      <AllowMembers Path="System.Delegate">
            <Member>Combine</Member>
            <Member>Target</Member>
            <Member>Method</Member>
            <Member>Remove</Member>
            <Member>RemoveAll</Member>
            <Member>Clone</Member>
      </AllowMembers>
    </Whitelist>
    <Blacklist>
      <DenyType Path="Medieval.GameSystems.Building.MyBlueprintManager" />
      <DenyType Path="Sandbox.Game.GameSystems.MyHeightMapLoadingSystem" />

      <DenyMembers Path="Medieval.GameSystems.FastTravelSystem.MyTerrainReachabilityProvider">
        <Member>ExportMaps</Member>
      </DenyMembers>

      <DenyMembers Path="VRageRender.MyRenderProxy">
        <Member>TakeScreenshot</Member>
        <Member>ScreenshotTaken</Member>
        <Member>ExportToObjComplete</Member>
      </DenyMembers>

      <DenyMembers Path="VRage.Game.Models.MyModel">
        <Member>.ctor</Member>
      </DenyMembers>

      <DenyMembers Path="VRage.Session.MySessionDelta">
        <Member>OnSaved</Member>
        <Member>BeforeSaving</Member>
      </DenyMembers>

      <DenyMembers Path="VRage.Session.MySessionPersistence">
        <Member>SaveAsAsync</Member>
        <Member>SaveAs</Member>
        <Member>WriteAsync</Member>
        <Member>FileExists</Member>
        <Member>Delete</Member>
        <Member>DeleteUnversioned</Member>
        <Member>Open</Member>
        <Member>OpenCreate</Member>
        <Member>OpenRead</Member>
        <Member>OpenUnversioned</Member>
        <Member>EnumerateFiles</Member>
        <Member>GetPathUnversioned</Member>
      </DenyMembers>

      <DenyMembers Path="VRage.Session.MySession">
        <Member>GetSnapshot</Member>
      </DenyMembers>

      <DenyMembers Path="Sandbox.Game.World.MySession">
        <Member>Save</Member>
        <Member>SaveAsync</Member>
        <Member>GetSnapshot</Member>
        <Member>Load</Member>
      </DenyMembers>

      <DenyMembers Path="Sandbox.Game.World.MyAsyncSaving">
        <Member>Start</Member>
      </DenyMembers>

      <DenyMembers Path="VRage.Game.MyParticlesLibrary">
        <Member>SaveToDefinition</Member>
      </DenyMembers>

      <DenyType Path="VRage.ObjectBuilders.MyObjectBuilderSerializer+XmlCompression" />
      <DenyMembers Path="VRage.ObjectBuilders.MyObjectBuilderSerializer">
        <Member>Serializer</Member>
        <Member>SerializeXML</Member>
        <Member>DeserializeXML</Member>
        <Member>DeserializeGZippedXML</Member>
        <Member>UnregisterAssembliesAndSerializers</Member>
      </DenyMembers>

      <DenyMembers Path="VRage.Utils.MyUtils">
        <Member>CreateFolder</Member>
        <Member>CopyDirectory</Member>
      </DenyMembers>

      <DenyMembers Path="VRage.Library.Collections.BitReader">
        <Member>.ctor</Member>
        <Member>ReadMemory</Member>
        <Member>Reset</Member>
      </DenyMembers>

      <DenyMembers Path="VRage.Library.Collections.BitStream">
        <Member>DataPointer</Member>
        <Member>ReadMemory</Member>
        <Member>SerializeMemory</Member>
        <Member>WriteMemory</Member>
      </DenyMembers>
    </Blacklist>
  </System>
</VRage.Core>

